body{
    background-color: darkorchid;
}
#score{
    font-size: 23px;
    margin-left: 19px;
}
#timer{
    font-size: 22px;
    margin-right: 20px;
    float: right;
}
#thisisanid{
    color: chocolate;
}